body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #234b79;
    padding: 20px;
    flex-wrap: wrap;
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    background-color: #e94e77;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ffc505;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        margin-top: 20px;
        width: 50%;
        align-items: center;
    }

    nav a {
        width: 50%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 40px;
    }

    nav {
        align-items: center;
    }

    .navbar {
        padding: 10px;
    }
}